.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 220px;
}

.mat-sidenav{
  width: 250px;
}
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  background-color: #c71609;
  font-size: 20px;
}
.mat-form-field{
  width: 90%;
}

.mat-toolbar {
  height: 50px;
  font-size: 20px;
}
.nav-item{
  background-color: #c71609;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(244,67,54,.4);
  color: #ffffff;
}

.mat-nav-list{
  padding: 10px 15px;
}

.mat-list-item{
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.mat-sidenav-content{
  background-color: #eeeeee;
}

.main-content{
  margin-top: 30px; 
}

.mat-grid-tile {
  background: lightblue;
}

button.mat-primary{
  background-color: #c71609;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(244,67,54,.4);
  color: #ffffff;
}

.item {
  width: 100px;
  margin: 10px;
  text-align: center;
}
