<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer fixedInViewport="true" 
  [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
  [mode]="(isHandset$ | async) ? 'over' : 'side'" 
  [opened]="!(isHandset$ | async)">
  <mat-toolbar color="primary"> RGT </mat-toolbar>
    <mat-nav-list >
      <mat-list-item class="nav-item" (click)="closeSideNav()">
        <mat-icon matListIcon>dashboard</mat-icon>
        <a matLine>Quaterly Report</a>
      </mat-list-item>

      <mat-list-item (click)="closeSideNav()">
        <mat-icon matListIcon>person</mat-icon>
        <a matLine>Annual Report</a>
      </mat-list-item>

      <mat-list-item (click)="closeSideNav()">
        <mat-icon matListIcon>group_work</mat-icon>
        <a matLine>Analytics</a>
      </mat-list-item>

      <mat-list-item (click)="closeSideNav()">
        <mat-icon matListIcon>business</mat-icon>
        <a matLine>Contact Us</a>
      </mat-list-item>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content >
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>

    <!-- <mat-grid-list class = "main-content" cols="3" rowHeight="2:1">
      <mat-grid-tile>
        <form>
          <mat-form-field appearance="fill" width="100%">
            <mat-label>Favorite food</mat-label>
            <mat-select [(ngModel)]="selectedValue" name="food">
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </mat-grid-tile>

      <mat-grid-tile>
        <form>
        <mat-form-field appearance="fill" width="100%">
          <mat-label>Favorite food</mat-label>
          <mat-select [(ngModel)]="selectedValue" name="food">
            <mat-option *ngFor="let food of foods" [value]="food.value">
              {{food.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </mat-grid-tile>

    <mat-grid-tile>
      <form>
      <mat-form-field appearance="fill" width="100%">
        <mat-label>Favorite food</mat-label>
        <mat-select [(ngModel)]="selectedValue" name="food">
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-grid-tile>
  </mat-grid-list> -->
    
    <div fxLayout="row" style = " height:10% "></div>
    <div fxLayout="row" fxLayoutAlign="center">
      <div fxFlex="30" class="item"> 
        <form>
          <mat-form-field appearance="fill" >
            <mat-label>Favorite food</mat-label>
            <mat-select [(ngModel)]="selectedValue" name="food">
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </div>
      <div fxFlex="30" class="item">
        <form>
          <mat-form-field appearance="fill">
            <mat-label>Favorite food</mat-label>
            <mat-select [(ngModel)]="selectedValue" name="food">
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </div>
      <div fxFlex="40" class="item">
        <form > 
        <mat-form-field appearance="fill" style = " width:40% ">
          <mat-label>Filter on Field</mat-label>
          <mat-select [(ngModel)]="selectedValue" name="food">
            <mat-option *ngFor="let food of foods" [value]="food.value">
              {{food.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" style = " width:30% ">
          <mat-label>Select Filter</mat-label>
          <mat-select [(ngModel)]="selectedValue" name="food">
            <mat-option *ngFor="let food of foods" [value]="food.value">
              {{food.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" style = " width:30% ">
          <mat-label>Enter Value</mat-label>
          <input matInput placeholder="Ex. QA" value="QA45678">
        </mat-form-field>
      </form>
    </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center">
      <div>
        <button mat-raised-button color="primary" layout="row" layout-align="center">Download Report<mat-icon matListIcon>file_download</mat-icon></button>
      </div>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>









